<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="note" ng-if="blade.currentEntities.length == 0">{{ 'platform.blades.dynamicProperty-list.labels.no-properties' | translate }}</div>
            <ul class="list __items" ng-if="blade.currentEntities.length > 0">
                <li class="list-item" ng-repeat="data in blade.currentEntities | filter:searchText | orderBy: 'displayOrder' track by data.id" ng-class="{'__selected': data.id === selectedNodeId}" ng-click='selectNode(data)'>
                    <span class="list-t">{{data.name}}</span>
                    <span class="list-descr">
                        <span>
                            {{(data.valueType | dynamicPropertyValueTypeToText |translate)}}
                        </span>
                        <span ng-if="data.isRequired">, {{ 'platform.blades.dynamicProperty-detail.labels.required' | translate}}</span>
                        <span ng-if="data.isDictionary">, {{ 'platform.blades.dynamicProperty-detail.labels.dictionary' | translate}}</span>
                        <span ng-if="data.isArray">, {{ 'platform.blades.dynamicProperty-detail.labels.multivalue' | translate}}</span>
                        <span ng-if="data.isMultilingual">, {{ 'platform.blades.dynamicProperty-detail.labels.multilingual' | translate}}</span>

                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
